# Node.js and Express
node_modules/
dist/
*.log

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# Mac specific
.DS_Store

# Dependency lock files
package-lock.json
yarn.lock

# Other build and development files you may want to ignore
